@page "/add-author"
@inherits AddAuthorBase
@attribute [Authorize(Roles = "Admin,Staff")]

<h1>@(author.Id != 0 ? "Sửa" : "Thêm") Tác giả</h1>

<EditForm Model="author" OnValidSubmit="HandleValidSubmit" FormName="addAuthorForm">
    <DataAnnotationsValidator />

    <MudGrid>
        <MudItem xs="12">
            <MudTextField @bind-Value="@author.AuthorName" Label="Tên tác giả" />
        </MudItem>
        <MudItem xs="12">
            <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Class="w-100" Variant="Variant.Filled">
                Hoàn tất
            </MudButton>
        </MudItem>
        <MudItem xs="12">
            <ValidationMessage For="@(() => author.AuthorName)" Class="alert alert-danger" />
        </MudItem>
    </MudGrid>
</EditForm>
