@page "/"
@using System.Security.Claims

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <h1>Xin chào, @context?.User?.Identity?.Name!</h1>
            <h2>Role: @(context?.User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value)</h2>
        </Authorized>
        <NotAuthorized>
            <h1>Hãy đăng nhập~~</h1>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>


