@page "/"

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <h1>Welcome, authorized user! @context.User.Identity.Name!</h1>
        </Authorized>
        <NotAuthorized>
            <h1>You are not authorized to view this page.</h1>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>


