@page "/"
@using System.Security.Claims

<CascadingAuthenticationState>
    <div class="container mt-5">
        <AuthorizeView>
            <Authorized>
                <div class="card text-center shadow-lg">
                    <div class="card-header bg-primary text-white">
                        <MudText Typo="Typo.h3">Xin chào, @context?.User?.Identity?.Name!</MudText>
                    </div>
                    <div class="card-body">
                        <MudText Typo="Typo.h4" class="card-title">Vai trò: @(context?.User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value)</MudText>
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="alert alert-warning text-center">
                    <MudText Typo="Typo.h3">Hãy đăng nhập</MudText>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</CascadingAuthenticationState>
