@page "/login"
@inherits LoginBase

<h3>Đăng Nhập</h3>

<EditForm Model="loginRequest" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="UserName" class="form-label">Tên:</label>
        <InputText id="UserName" class="form-control" @bind-Value="loginRequest.UserName" />
        <ValidationMessage For="@(() => loginRequest.UserName)" />
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Mật khẩu:</label>
        <InputText id="Password" class="form-control" @bind-Value="loginRequest.Password" Type="password" />
        <ValidationMessage For="@(() => loginRequest.Password)" />
    </div>
    <div class="mb-3">
        <label>
            <InputCheckbox @bind-Value="loginRequest.RememberMe" class="form-check-input" /> Lưu mật khẩu
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Đăng Nhập</button>

    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-danger mt-3">@message</div>
    }
</EditForm>
