<AuthorizeView>
    <Authorized>
        Chào, @context?.User?.Identity?.Name!
        <a href="/change-password" class="btn btn-link">Đổi mật khẩu</a>
        <a href="/logout" class="btn btn-link">Đăng xuất</a>
    </Authorized>
    <NotAuthorized>
        <a href="/register" class="btn btn-link">Đăng ký</a>
        <a href="/login" class="btn btn-link">Đăng nhập</a>
    </NotAuthorized>
</AuthorizeView>