<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Booksale Manager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Trang chủ
            </NavLink>
        </div>
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/chat">
                    <span class="bi bi-chat-left-dots-nav-menu" aria-hidden="true"></span> Nhắn tin
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin,Staff">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/add-booksale">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Thêm sách mới
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/add-author">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Thêm tác giả mới
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/add-bill">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tạo hóa đơn
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/booksales">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sách
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/authors">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tác giả
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/bills">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Hóa đơn
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/users">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Người dùng
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

